<h1>All Posts</h1>
<% if user_signed_in? %>
    <h2>Welcome, <%= current_user.username %></h2>
   
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
    
    
    <%= link_to "New Post", new_user_post_path(current_user)%>
<% else%>
    <%= link_to "Sign In", 	new_user_session_path%>
<% end %>


<% if @posts.any? %>
    <% @posts.each do |post|%>
        <h2><%= post.title %></h2>
        <p><%= post.body %></p>
        <p>Author: <%= post.user.username %></p>
        <p>Created at: <%= post.created_at.strftime("%B %d, %Y") %></p>
        <hr>
    <% end %> 
<% else %>
    <p>No posts available.</p>   
<% end %>